@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #064e3b;
  --color-dark: #001d15;
  --color-secondary: #008f6a;
  --font-outfit: "Outfit", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

body {
  @apply font-poppins;
}

.container {
  @apply mx-auto px-5 lg:px-3.75 sm:px-8 md:px-7 md:max-w-full lg:max-w-[1000px] xl:max-w-[1260px] 2xl:max-w-[1470px];
}

html {
  @apply text-[3.4vw] sm:text-[100%] md:text-[80%] lg:text-[75%] xl:text-[90%] 2xl:text-[100%]
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-outfit;
}

img {
  max-width: 100%;
}


@layer components {
  .btn-primary {
    @apply bg-primary text-white px-5 py-2 rounded-md hover:bg-dark;
  }

  .btn-secondary {
    @apply bg-dark text-white px-4 py-2 rounded-md;
  }

  /* Swiper Navigation Buttons */
  .swiper-button-next,
  .swiper-button-prev {
    @apply w-5 h-5 p-3 bg-white hover:bg-primary/10 hover:border-primary rounded-full border border-gray-300 text-primary flex items-center justify-center;
    font-size: 0.5rem;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    @apply text-xs text-gray-800;
  }
}